<html>
    <head>
        <title>Camera Tracking System</title>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h1><a style = "text-decoration:none;" href="{{ url_for('index') }}">
            <span style="color:white; background:black; font-weight:bold">
            Camera
            </span>
            <span id="trackingg" style="border-radius: 5px;padding:2px 3px; color:black; background:#f90;font-weight:bold">
            Tracker
            </span>
            </a>
    
        </h1>
    <h2 style="color:white">Live Camera Feed</h2>
    <p>(Comment: this is main page and camera is in default static mode,)</p>
    <img src="{{ url_for('video_feed') }}" height="480" width="640">
    <br>
    <br>
    <br>

    <div>
    <a style = "text-decoration:none;" href="{{ url_for('CruisingMode') }}">
        <span style=" border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
        Go to Cruising Mode
        </span>
    </a>

    <span style="width:50px;display:inline-block"></span>
    

    <a style = "text-decoration:none;" href="{{ url_for('ManualMode') }}">
        <span style="border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
        Go to Manual Mode
        </span>
    </a>
    
    <span style="width:50px;display:inline-block"></span>

    <a style = "text-decoration:none;" href="{{ url_for('SelectTarget') }}">
        <span style="border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
        Go to SelectTarget
        </span>
    </a>

    </div>

    </body>
</html>