<html>
    <head>
        <title>Camera Tracking System</title>
        <link rel="stylesheet" href='/static/style.css' />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
    <h1><a style = "text-decoration:none;" href="{{ url_for('index') }}">
        <span style="color:white; background:black; font-weight:bold">
        Camera
        </span>
        <span id="trackingg" style="border-radius: 5px;padding:2px 3px; color:black; background:#f90;font-weight:bold">
        Tracker
        </span>
        </a>

    </h1>

    <h2 style="color:white">Manual Mode Camera Feed</h2>
    <img src="{{ url_for('video_feed') }}" height="480" width="640">
    <br>
    <br>

    <div class="btn-group">
        <p>Click Button to Turn Camera Right/Left or Up/Down</p>

        <button onclick="TurnLeft()" id = "selectBTNl" class="selectButton">Turn Left</button>
        <button onclick="TurnRight()" id = "selectBTNr" class="selectButton">Turn Right</button>
        <button onclick="TurnUp()" id = "selectBTNu" class="selectButton">Turn Up</button>
        <button onclick="TurnDown()" id = "selectBTNd" class="selectButton">Turn Down</button>

        
        <!-- <a style = "text-decoration:none;" href="{{ url_for('turnleft') }}">
            <span style=" border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
            Turn  Left
            </span>
        </a>

        <span style="width:50px;display:inline-block"></span>

        <a style = "text-decoration:none;" href="{{ url_for('turnright') }}">
            <span style=" border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
            Turn Right
            </span>
        </a>

        <span style="width:50px;display:inline-block"></span>
        


        <a style = "text-decoration:none;" href="{{ url_for('turnup') }}">
            <span style=" border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
            Turn   Up
            </span>
        </a>

        <span style="width:50px;display:inline-block"></span>

        <a style = "text-decoration:none;" href="{{ url_for('turndown') }}">
            <span style=" border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
            Turn  Down
            </span>
        </a> -->
    
        <!-- <br>
        <br>
        
        <br>
        <br>
        <br>

        <a style = "text-decoration:none;" href="{{ url_for('stopturning') }}">
            <span style=" border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
            Stop Turning
            </span>
        </a> -->

    </div>

    <script>
        function TurnLeft(){
            var subD = "left";
            $.post("/postmethodLeft", {
                javascript_data: subD
            });
        
        }

        function TurnRight(){
            var subD = "right";
            $.post("/postmethodright", {
                javascript_data: subD
            });
        
        }

        function TurnUp(){
            var subD = "up";
            $.post("/postmethodup", {
                javascript_data: subD
            });
        
        }

        function TurnDown(){
            var subD = "down";
            $.post("/postmethoddown", {
                javascript_data: subD
            });
        
        }

        





    </script>
<br>
<br>
<br>


<div>

    <br>
    <br>
        <a style = "text-decoration:none;" href="{{ url_for('index') }}">
            <span style="border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
            Return To Main Page
            </span>
        </a>
</div>
    </body>
</html>
