<html>

<head>
    <title>Camera Tracking System</title>
    <link rel="stylesheet" href='/static/style.css' />


</head>

<body>
    <h1><span style="color:white; font-weight:bold">
        Camera
        </span>
        <span id="trackingg" style="border-radius: 5px;padding:5px 3px; color:black; background:#f90;font-weight:bold">
        Tracker
        </span>

    </h1>

    <h2 style="color:white">Live Camera Feed</h2>
    <p>(Click and release Mouse on video to select a target beginning point)</p>
    <p>(Click and release Mouse on video to select a target end point)</p>
    <p>(To select a target to track)</p>
    <img id="videoFeed" src="{{ url_for('video_feed') }}">
    <button onclick="selTraget()">Select Target</button>
    <canvas id="myCanvas" width="640" height="480" style="border:1px solid #d3d3d3;">

    </canvas>

    <div id="idcaption">

    </div>

    <script>
        function selTraget() {
            var c = document.getElementById("myCanvas");
            var ctx = c.getContext("2d");

            var x = document.getElementById("videoFeed");
            ctx.drawImage(x, 0, 0, 640, 480);
            var iniMousePos;
            var endMousePos;

            var rectCan = c.getBoundingClientRect();
            c.addEventListener("click", function handler1(evt) {
                iniMousePos = getMousePos(c, evt);


                //alert("push this to back end: " + iniMousePos.x + ',' + iniMousePos.y);
                c.addEventListener("mousemove", function hander2(evt) {


                    endMousePos = getMousePos(c, evt);
                    iniMousePosx = endMousePos.x - iniMousePos.x;
                    iniMousePosy = endMousePos.y - iniMousePos.y;
                    ctx.clearRect(0, 0, 640, 480);
                    ctx.drawImage(x, 0, 0);
                    //alert("push this to back end: " + iniMousePos.x + ',' + iniMousePos.y);
                    ctx.beginPath();
                    ctx.rect(iniMousePos.x, iniMousePos.y, iniMousePosx, iniMousePosy);
                    ctx.stroke();

                    c.addEventListener("click", function hander3(evt) {

                        endMousePos = getMousePos(c, evt);
                        //alert("push this to back end: ini x: " + iniMousePos.x + "ini y: " + iniMousePos.y + "end x: " + endMousePos.x + "end y: " + endMousePos.y);
                        //window.location = "{{ url_for('index') }}";
                        //location.reload();
                        var caption = "push this to back end: ini x: " + iniMousePos.x + "ini y: " + iniMousePos.y + "end x: " + endMousePos.x + "end y: " + endMousePos.y;
                        document.getElementById("idcaption").innerHTML = caption;
                        //this.removeEventListener('click', handler3);


                    }, false);
                    //this.removeEventListener('mousemove', handler2);


                }, false);

                this.removeEventListener('click', handler1);
            }, false);







        }



        //Get Mouse Position
        function getMousePos(c, evt) {
            var rect = c.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }
    </script>

    <br>
    <br>
    <br>
    <a style="text-decoration:none;" href="{{ url_for('CruisingMode') }}">
        <span style=" border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
        Go to Cruising Mode
        </span>
    </a>

    <br>
    <br>
    <br>
    <br>


    <a style="text-decoration:none;" href="{{ url_for('ManualMode') }}">
        <span style="border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
        Go to Manual Mode
        </span>
    </a>

    <div>
        <br>
        <br>
        <a style="text-decoration:none;" href="{{ url_for('index') }}">
            <span style="border-radius: 5px;padding:10px; color:white;background:#f90; font-weight:bold">
        Return To Main Page
        </span>
        </a>
    </div>

</body>

</html>